body {
  background-image: repeating-linear-gradient(red, orange, yellow, green, blue, purple);
}
h2 {
  font-family: 'Lobster', cursive;
}
h1 {
  font-family: 'Monoton', cursive;
  font-weight: lighter;
}
